<div id="warning" style="padding: 0px 0px 0px 0px;">
<table id="errortbl" class="errortbl">
<tr>
<td>
<strong><? echo dict_translate("WARNING:"); ></strong>
<? echo dict_translate("warn_device_role_changed|Device role has been changed - please review <a href=\"network.cgi\">network</a> settings!"); >
</td>
</tr>
</table>
</div>
